VITE_DEV_HOST=0.0.0.0
VITE_DEV_PORT=3001
VITE_API_BASE_URL=http://localhost:5001/api
VITE_SESSION_TOKEN_KEY=mitra-revamp-dashboard-token
VITE_DEFAULT_LOGIN_USERNAME=superadmin
VITE_DEFAULT_LOGIN_PASSWORD=superadmin123
